#chess {
    width: 640px;
    height: 640px;
    margin: 0.5em;
    border: 2px solid #808080;
}

#chess div {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
}

#chess div:nth-child(-2n+8), 
#chess div:nth-child(8) ~ div:nth-child(-2n+15), 
#chess div:nth-child(16) ~ div:nth-child(-2n+24), 
#chess div:nth-child(24) ~ div:nth-child(-2n+31), 
#chess div:nth-child(32) ~ div:nth-child(-2n+40), 
#chess div:nth-child(40) ~ div:nth-child(-2n+47), 
#chess div:nth-child(48) ~ div:nth-child(-2n+56), 
#chess div:nth-child(56) ~ div:nth-child(-2n+63) {
    background-color: silver;
}

#chess > div.king {
    background-image: url('assets/img/king.png');
}

@-webkit-keyframes flash {
    0% {
        opacity:0;
    }
    25% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
    
#chess > div.flash {
    background-color: red !important;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}  