<div>
    <span x-large>Chess demo</span>
    <h3>Instructions</h3>
    <p>Click the cells on the chess table to test if that position as a queen would danger the king.</p>
    <p>A <span style="color: red">red</span> box means a queen at that position would danger the king. If nothing happens, then the king is safe.</p>
    <p>By refreshing the page you will spawn the king in a random position.</p>
    <div id="chess">
        <div *ngFor='#cell of cells' [ngClass]="{'king': cell.isKing}" (click)="detectHit(cell.id, $event)"></div>
    </div>
    
</div>